<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="seasonal_xp_hotkey" value="1"/>
		<add key="weapon_xp_hotkey" value="2"/>
		<add key="fishing_hotkey" value="3"/>
		<add key="lament_hotkey" value="4"/>
		<add key="prism_hotkey" value="5"/>
		<add key="super_key" value="F"/>
		<add key="dive_key" value="X"/>
		<add key="wellskate_hotkey" value="6"/>
		<add key="shatterskate_hotkey" value="7"/>
		<add key="snapskate_hotkey" value="8"/>
		<add key="delay_one" value="500"/>
		<add key="delay_two" value="35"/>
		<add key="delay_three" value="25"/>
		<add key="jump_after_delay" value="400"/>
		<add key="dash_after_delay" value="400"/>
		<add key="swap_back_delay" value="100"/>
		<add key="swap_back_button" value="1"/>
	</appSettings>
</configuration>